<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>

</head>
<body>


<div class="container-fluid">


    <div class="row">
        <div class="col mt-5">
            <h3>Jira-Miro config</h3> <small class="text-muted">Here you can configure jira-miro integration plugin. For
            help please see documentation.</small></div>
    </div>
    <div id="jiraCloudInstance" style="display: none;">
        <div class="row mt-2">
            <div class="col"><h5>Jira cloud instance</h5></div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                Cloud instance
            </div>
            <div class="col-8">

                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">howfastyouaregoing.atlassian.net</option>
                    <option value="2">someotherapp.atlassian.net</option>
                    <option value="3">example.atlassian.net</option>
                </select>

            </div>
        </div>
    </div>
    <div id="chooseProject" style="display: none;">
        <div class="row mt-2">
            <div class="col"><h5>Choose project</h5></div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                Project
            </div>
            <div class="col-8">

                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">AAS - a jak to wyglada na szerokosc</option>
                    <option value="2">KAWK</option>
                    <option value="3">POS</option>
                    <option value="1">AAS</option>
                    <option value="2">KAWK</option>
                    <option value="3">POS</option>
                    <option value="1">SIKO</option>
                </select>

            </div>
        </div>
    </div>
    <div id="bindTransitions" style="display: none;">
        <div class="row mt-2">
            <div class="col"><h5>Bind transitions</h5></div>
        </div>
        <div id="transitionRows">
            <div class="row">
                <div class="col-6 text-right">
                    Open
                </div>
                <div class="pl-0 col-6">
                    <button type="button" class="btn-sm btn btn-outline-primary w-50">Set</button>

                    <button type="button" class="btn-sm btn btn-outline-secondary" disabled>Blink</button>

                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 text-right">
                    To-do
                </div>
                <div class="pl-0 col-6">
                    <button type="button" class="btn-sm btn btn-outline-primary w-50">Set</button>

                    <button type="button" class="btn-sm btn btn-outline-secondary">Blink</button>

                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 text-right">
                    In Development
                </div>
                <div class="pl-0 col-6">
                    <button type="button" class="btn-sm btn btn-outline-primary w-50">Set</button>

                    <button type="button" class="btn-sm btn btn-outline-secondary">Blink</button>

                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 text-right">
                    In Review
                </div>
                <div class="pl-0 col-6">
                    <button type="button" class="btn-sm btn btn-outline-primary w-50">Set</button>

                    <button type="button" class="btn-sm btn btn-outline-secondary">Blink</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 text-right">
                    In testing
                </div>
                <div class="pl-0 col-6">
                    <button type="button" class="btn-sm btn btn-outline-primary w-50">Set</button>
                    <button type="button" class="btn-sm btn btn-outline-secondary">Blink</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 text-right">
                    Closed
                </div>
                <div class="pl-0 col-6">
                    <button type="button" class="btn-sm btn btn-outline-primary w-50">Set</button>

                    <button type="button" class="btn-sm btn btn-outline-secondary">Blink</button>

                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://miro.com/app/static/sdk.1.1.js"></script>
<script type="text/javascript" src="../static/js/transitionBoxes.js" th:src="@{/js/transitionBoxes.js}"></script>


<script type="text/javascript" src="../static/js/configurator.js" th:src="@{/js/configurator.js}"></script>

<div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>
</html>
