<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://miro.com/app/static/sdk.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jiraActions.js}"></script>
    <script type="text/javascript" th:src="@{/js/transitionBoxes.js}"></script>
    <script type="text/javascript" th:src="@{/js/jiraCardsDetails.js}"></script>
    <script type="text/javascript" th:src="@{/js/jiraCardsMonitoring.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<p>
    <script type="text/javascript"  th:inline="javascript">

miro.onReady(() => {
let url = "[(${#httpServletRequest.scheme}+'://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/oauth2/login})]";

	miro.board.ui.openModal(url).then(function() {
       echo("sesja juz powinna byc");
      });
	// zrobic aby po zamknieciu sprobowac odswiezyc strone. Tylko jesli ktos nie nie zautoryzowal to lipa... wiec moze z innym wtedy parametrem?
	//alert("zonk2")
})
</script>
<div th:text="'url:'+ @{oauth2/login}">
    The value of the "name" property of the authentication object should appear here.
</div>

<div th:if="${accessTokenValue}" th:text="${accessTokenValue}">
    The value of the "name" property of the authentication object should appear here.
</div>
</p>
</body>
</html>
