<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://miro.com/app/static/sdk.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="../static/js/jiraActions.js" th:src="@{/js/jiraActions.js}"></script>
    <script type="text/javascript" src="../static/js/transitionBoxes.js" th:src="@{/js/transitionBoxes.js}"></script>
    <script type="text/javascript" src="../static/js/configuration.js" th:src="@{/js/configuration.js}"></script>
    <script type="text/javascript" src="../static/js/jiraCardsMonitoring.js"
            th:src="@{/js/jiraCardsMonitoring.js}"></script>
    <script type="text/javascript" src="../static/js/state.js" th:src="@{/js/state.js}"></script>
    <script type="text/javascript" src="../static/js/miroAuthorizer.js" th:src="@{/js/miroAuthorizer.js}"></script>
    <script type="text/javascript" src="../static/js/atlassianAuthorizer.js" th:src="@{/js/atlassianAuthorizer.js}"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>

</head>
<body>

<iframe id="authenticationFrame"></iframe>
<div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>
</html>
