<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://miro.com/app/static/sdk.1.1.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="https://miro.com/app/static/styles.1.0.css">
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>
<body>

<div class="container-fluid">
    <section style="margin-bottom: 30px;margin-top: 20px;">
        <div class="miro-h1" style="margin-bottom: 10px">
    <img  src="../static/img/logo.png" th:src="@{/img/logo.png}" width="22" height="39" class="d-inline-block align-top" alt="">
		Login to Effely.com Jira-Miro plugin</div>

        <div class=" miro-p-medium" style="margin-bottom: 10px">
            Please click "Login" to login to Effely.com Jira-Miro integration plugin using your atlassian account. Not doing so will not allow you to transition cards on this board using Effely.com Jira-Miro plugin. 
        </div>

    </section>
    <div style="float: right;margin-bottom: 12px;">
        <button class="miro-btn miro-btn--primary miro-btn--medium"  onclick="authenticateInPopup()">Login</button>
        <button class="miro-btn miro-btn--secondary miro-btn--medium"  onclick="miro.board.ui.closeModal('cancel')">Cancel</button>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
 

    function popupWindow(url, title, w, h) {
        let left = (screen.width / 2) - (w / 2);
        let top = (screen.height / 2) - (h / 2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }


    function authenticateInPopup() {
        const url = "[(${#httpServletRequest.scheme}+'://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/oauth2/authorization/atlassian})]";
        let win = popupWindow(url, 'Miro - Jira integration', 600, 800)
        const timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                miro.board.ui.closeModal('success');
            }
        }, 1000);
    }

</script>
<div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>

</body>
</html>
